@media (max-width: 678px) {
    .header{
        flex-direction: column;
        justify-content: center;
    }

    .logo .marca{
        font-size: 40px;
    }

    .menu{
        flex-direction: column;
        margin-top: 50px;
    }

    .menu li{
        padding: 25px 0;
    }

    .menu li:last-child{
        margin-top: 20px;
    }

    .menu li a{
        font-size: 40px;
        padding: 17px 40px;
    }

    .menu li a.btn{
        font-size: 18px;
        padding: 15px 22px;
    }
}